.about-p{
  margin-top: 1%;
}
.about{
    margin-top: 5%;
}
.c{
    width: 30%;
}
.about-img{
  margin-right: 8%;
}
.fotter{
  min-height: 20vh;
  border-top: 1px solid gray;
}
.aboutt{
  margin-bottom: 5%;
}
.hed2{
  margin-left: 5%;
}
.feed{
  margin-right: 5%;
}
.link-foot{
  margin-right:8% ;
}