.about-p{
  margin-top: 8%;
}
.about{
    margin-top: 5%;
}
.c{
    width: 30%;
}
.about-img{
  margin-right: 8%;
}
.fotter{
  min-height: 20vh;
  border-top: 1px solid gray;
}
.aboutt{
  margin-bottom: 5%;
}
.foot-name{
  margin-left: 5%;
}