.divProfile {
  display: grid;
  grid-template-columns: 20vw auto;

}

.Nav {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding-top: 20vh;
  background-color: #13b2a7;
  box-shadow: 0 0 10px #0e5a55;
  width: 15vw;
  font-size: 1.3rem;
  padding-bottom: 50vh;
}

.NavLink {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.NavLink:visited {
  color: white;
}

.NavLink:hover {
  color: rgb(65, 64, 64);
}

@media (max-width: 800px) {
  .Nav {
    font-size: 0.8rem;
    width: 18vh;
  }
}
